.h1{
    justify-content: center;
    align-content: center;
    align-items: center;
   
}

button {
    margin-left: 5em;
    text-align: center;
    background-color: gold;
   
    width: 80px;
    height: 30px;
    
    border:none;
    border-radius: 4px;
}
.titulo{
    color: black;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto; 
    
    padding: 1%;
    border: 1px solid #CCC;
    border-radius: 2em;
   
    font-family: Courier, monospace;
    font-weight: 100;
    font-size: 300%;
    background: -webkit-linear-gradient(left, rgba(255,255,0,0) 0%,rgba(255,255,0,0.8) 20%,rgba(255,215,0,1) 53%,rgba(255,255,0,0.8) 79%,rgba(255,255,0,0) 100%); 
    background: linear-gradient(left, rgba(255,255,0,0) 0%,rgba(255,255,0,0.8) 20%,rgba(255,215,0,1) 53%,rgba(255,255,0,0.8) 79%,rgba(255,255,0,0) 100%); 
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}
            
.produtos{
    display: inline-block;
}

img{
    width: 200px;
    height: 200px;
    display: inline-block;
    display: inline-block;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.produtosimagens{
    display: inline-block;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.h1{
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: 25%;
}

.preco{
   
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: 25%;

}

.cent{
    display: inline-block;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: 25%;


}

