.menusuperior{
    margin-left: 53%
}

.h1{
    justify-content: center;
    align-content: center;
    align-items: center;
   
}
  

.button {
    border-top: 1px solid #ff6d1f;
    background: #ff6d1f;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff6d1f), to(#ff6d1f));
    background: -webkit-linear-gradient(top, #ff6d1f, #ff6d1f);
    background: -moz-linear-gradient(top, #ff6d1f, #ff6d1f);
    background: -ms-linear-gradient(top, #ff6d1f, #ff6d1f);
    background: -o-linear-gradient(top, #ff6d1f, #ff6d1f);
    padding: 13px 26px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: white 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: black;
    font-size: 20px;
    font-family: Georgia, serif;
    vertical-align: middle;
    margin: 10px;
    text-decoration: #ff6d1f;
}




.titulo{
    color: black;
    box-sizing: border-box;
    text-align: center;
    margin: 10px; 
    
    padding: 1%;
    border: 1px solid #CCC;
    border-radius: 2em;
   
    font-family: Courier, monospace;
    font-weight: 100;
    font-size: 300%;
    background: #ff6d1f; 
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}
            
.produtos{
    display: inline-block;
    width: inline-block;
    padding: 10px;
}

img{
    width: 230px;
    height: 230px;
    display: inline-block;
    display: inline-block;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 15px;
}

.produtosimagens{
    display: inline-block;
    width: inline-block;
}

.h1{
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: 20%;
}

.preco{
   
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: 34%;
    color: black;

}

.cent{
    display: inline-block;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: 18%;
}

.fixarRodape {
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
}

.linkback {
    border-top: 1px solid #ff6d1f;
    background: #ff6d1f;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff6d1f), to(#ff6d1f));
    background: -webkit-linear-gradient(top, #ff6d1f, #ff6d1f);
    background: -moz-linear-gradient(top, #ff6d1f, #ff6d1f);
    background: -ms-linear-gradient(top, #ff6d1f, #ff6d1f);
    background: -o-linear-gradient(top, #ff6d1f, #ff6d1f);
    padding: 13px 26px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    
    box-shadow: white 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;

    font-size: 17px;
    font-family: Georgia, serif;
    vertical-align: middle;
    margin: 10px;
    text-decoration: #ff6d1f;
